body{
    background-color: #eedcde;
    display: flex;
    justify-content: center;
    font-family: system-ui, -apple-system, open sans, sans-serif;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}

h2{
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin: 50px;
    padding: 20px 30px;
    text-align: center;
}

.registro-container{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.registro-container input{
    width: 100px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.button{
   justify-content: center;
   display: flex;
    gap: 10px;
}

.button button{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.button :hover{
    background-color: gray;
}